.post-card-container {
    display: flex;
    width: 100%;
    padding: 9px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    background: #fbfbfb;
  }
  
  .post-card-author {
    color: #6f6f6f;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .post-card-content {
    width: 100%;
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
  
  .post-card-actions-container {
    display: flex;
    gap: 10px;
  }
  
  .post-card-actions-item {
    display: flex;
    width: auto;
    height: 28px;
    padding: 8px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 28px;
    border: 0.797px solid #ececec;
  }
  
  .post-card-total {
    color: #6f6f6f;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 9.561px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .post-card-actions-item button {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  