.header-container {
    display: flex;
    justify-content: space-between;
    background: #ededed;
    width: 100%;
    height: 50px;
    padding: 0 30px;
  }
  
  .header-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-item:first-of-type {
    justify-content: flex-start;
  }
  
  .header-item:last-of-type {
    justify-content: flex-end;
  }
  
  .header-btn-action {
    color: #4088cb;
    text-align: center;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background: none;
  }
  
  .header-btn-close {
    border: none;
    background: none;
  }
  